html {
  font-size: 20px;
  } 
 
 body {
    font-family:"Arial", "Meiryo", sans-serif;
    text-align:center;
     }
    
  .deco{
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.0rem;
    letter-spacing:1.2em;
    text-shadow: 2px 2px 2px blue;
    border-bottom:solid  3px rgb(115, 115, 114);
    }

  .pink{
    color:rgb(255, 192, 203) 
    }

  .skyblue{
    color:skyblue
  }

  #basic p{
    font-weight: bold;
  }
  